
body {
    background: slategray;
    margin: 0;
}

.about i,.about a {
    color: rgba(39, 39, 40, 0.408);
    position: fixed;
    z-index: 5;
    font-size: 50px;
}

.fa-id-badge {
    top: 50px;
}

.fa-copy {
    top: 150px
}

.fa-mobile-screen-button {
    top: 250px
}

.about {
    position: relative;
}

.about h1 {
    text-align: center;
    font-family: Fatface;
    font-size: 60px;
    color: black;
    -webkit-text-stroke: .3px lightgray;
    text-shadow: 3px 3px 2px;
    padding: 5px;
}

.row {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.row h1 {
    font-size: 40px;
    margin: 0;
}

.imgContainer {
    position: relative;
    width: 315px;
    height: 545px;
}

.meDiv {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 450px;
}

.me {
    // height: 700px;
    // height: 750px;
    height: 450px;
    position: fixed;
    z-index: 1;
}

.paragraph {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 35px 35px 35px;
    border-radius: 0 25%;
    color: white;
    background-attachment: fixed;
    background-image: url("./images/coverimage.png");
    background-position-x: center;
    background-size: cover;
    font-size: 1.65rem;
    box-shadow: 5px 5px 20px black;
    /* margin: 5%; */
    /* margin-right: auto; */
    padding: 2% 5%;
    width: 60%;
}
.aboutMe {
    display: none;
}

.paragraph h2,
.paragraph p {
    text-align: center;
    font-style: italic;
    background: rgb(218, 215, 215);
    color: black;
    opacity: .85;
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    margin: 20px auto;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
}

.topDiv {
    position: relative;
    top: 25px;
    height: 50px;
    width: 90%;
    background-color: black;
    z-index: 0;
    margin: 0 auto;
    border-radius: 50%;
    border-top: none;
    border: 2px solid red;
}

.bottomDiv {
    /* position: absolute; */
    /* bottom: 0; */
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 50% 50%;
    border: 2px solid red;
    border-top: none;
    background-color: black;
    z-index: 2;
}

.extend {
    background: slategray;
    height: 300vh;
    position: relative;
    z-index: 1;
    width: 100%;
    bottom: 10px;
}

@media screen and (max-width: 1500px) and (orientation:portrait) {
    .aboutMe {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .about i {
        font-size: 30px;
    }

    .fa-copy {
        top: 100px;
    }

    .fa-mobile-screen-button {
        top: 160px;
    }
    .about h1 {
        font-size: 2.5rem;
        margin: 0px;
        padding: 0;
    }

    .row {
        display: block;
    }

    .imgContainer {
        width: auto;
        height: 545px;
    }
    
    .imgContainer h1 {
        position: unset;
        color: slategrey;
        text-shadow: 2px -2px 4px black;
        -webkit-text-stroke: 0px;
    }

    .me {
        height: 450px;
    }

    .bottomDiv, .topDiv {
        width: 270px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .paragraph {
        padding: 5%;
        position: relative;
        border-radius: 8px;
        z-index: 4;
        width: 90%;
    }

    .aboutMe {
        display: block;
    }

    .name {
        display: none;
    }
}

@media screen and (max-width:950px) and (max-height:450px) and (orientation: landscape) {
    .row {
        margin: auto;
        display: flex;
        height: 80vh;
    }

    .imgContainer {
        width: 200px;
        height: 250px;
    }

    .imgContainer h1 {
        display: none;
    }

    .meDiv {
        height: 230px;
    }

    .me {
        height: 250px;
    }

    .topDiv {
        position: relative;
        top: 16px;
        height: 15px;
        width: 160px;
        background-color: black;
        z-index: 0;
        margin: 0 auto;
        border-radius: 50%;
        border-top: 2px solid red;
        border-bottom: none;
    }

    .bottomDiv {
        height: 14px;
        width: 170px;
        margin: 0 auto;
        border-radius: 50% 50%;
        border: 2px solid red;
        border-top: none;
        background-color: black;
        box-shadow: 3px 8px 0px #5c5c70;
    }

    .paragraph {
        padding: 5px;
        width: 60%;
    }

    .paragraph h2, .paragraph p {
        font-size: .8rem;
        margin: 5px auto;
    }

    .name {
        display: block;
    }
    .aboutMe {
        display: none;
    }
}

// @media screen and (max-width: 1350px) {
//     .row {
//         width: 100%;
//         flex-direction: column;
//         align-items: center;
//     }

//     .imgContainer h1 {
//         position: absolute;
//         top: 100px;
//         right: -130px;
//         display: block;
//     }

//     .paragraph {
//         padding: 5%;
//         position: relative;
//         border-radius: 8px;
//         z-index: 4;
//         width: 90%;
//     }

// }