.about{
    background-color: aqua;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;
  
        .imgContainer{
            width: 700px;
            height: 700px;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
           
  
            img{
                width: 70%;
            }
        }
    }
    .right{
        flex: 0.9;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

        }
       
    }
}