// * {
    // border: 2px dotted red;
// }


*::-webkit-scrollbar {
    display: none;
}

.work {
    position: relative;
    z-index: 1;
    background: orange;
}

.header {
    position: relative;
    height: 1200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.work .header {
    background-image: url(images/Cover-Image2.jpg);
    background-position-x: center;
}

.topBanner {
    height: 750px;
    width: 100%;
    transform: skew(0deg, 5deg);
    position: relative;
    bottom: 350px;
    border-bottom: 100px solid #1a1919;
    background: slategray;
}

.header h1 {
    font-size: 5rem;
    text-align: center;
    color: white;
    transform: skew(0deg, 5deg);
    position: relative;
    top: -325px;
}

.bottomBanner {
    height: 800px;
    width: 100%;
    border-top: 4px solid black;
    position: absolute;
    bottom: -350px;
    transform: skew(0deg, 5deg);
    background: orange;
}

.work-container {
    width: 60%;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.application {
    width: 48%;
    border: 2px solid black;
    border-radius: 8px;
    height: 35vh;
    position: relative;
    margin: 20px auto;
}

.application:first-child {
    width: 98%;
    margin: 0 auto;
    height: 60vh;
}

.application:first-child img {
    height: 60vh;
}

.application .description {
    background: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    opacity: .65;
}

.application img {
    width: 100%;
    height: 35vh;
}


// @media screen and (max-width: 1350px) {
//     .contact .header {
//         height: 400px;
//     }
//     .contactBottom {
//         bottom: -350px;
//     }
    
//     .footerImg {
//         height: 75vh;
//     }
    
// }

// @media screen and (max-width:768px) {
//     .contact .header {
//         height: 400px;
//     }
//     .contactBottom {
//         bottom: -350px;
//     }

//     .footerImg {
//         height: 75vh;
//     }
    
// }

@media screen and (max-width:768px) {
    
    .work-container {
        width: 100%;
        flex-direction: column;
    }

    .header h1 {
        top: -140px;
    }

    .application:first-child, .application {
        width: 90%;
        height: auto;
    }

    .application:first-child img, .application img {
        height: auto;
    }
}

@media screen and (max-width: 1500px){
    .row {
        width: 100%;
    }

    .header {
        height: 600px;
    }

    .topBanner {
        height: 275px;
        top: -100px;
    }

    .header h1 {
        top: -140px
    }

    .bottomBanner {
        height: 350px;
        bottom: -150px;
    }

    .contactTop {
        height: 250px;
        top: -100px;
    }

    .contact .header h1 {
        bottom: 150px;
    }

}

