.skills {
    position: relative;
    z-index: 2;
    border-top: 20vh solid;
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
}

.skew {
    transform: skew(0deg, 5deg);
    background: transparent;
    position: relative;
    z-index: 2;
}

.topFill {
    height: 10vh;
    width: 100%;
    position: absolute;
    top: -4vh;
    transform: skew(0deg,-3deg);
}

.bottomFill{
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: -10vh;
    transform: skew(0deg,-0deg);
    z-index: 1;
}

.iconsFill {
    position: relative;
    display: flex;
    z-index: 1;
    background: black;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border-top: 15vh solid;
}

.iconDiv {
    position: relative;
}

.iconDiv label {
    position: absolute;
    border: 2px solid black;
    padding: 10px;
    border-radius: 25px;
    background: orange;
    color: black;
    font-weight: 900;
    top: -40px;
    left: 0;
    right: 0;
    z-index: 1;
    width: fit-content;
    margin: 0 auto;
    opacity: 0;
}

.iconDiv:hover label {
    animation: label 1s;
}

@keyframes label {
    0% {
        transform: translateY(-25px);
        opacity: .2;
    }

    60% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.icon {
    width: 100px;
    padding: 5px;
    margin: 5px 10px;
    filter: invert(0.5);
}

.icon:hover {
    filter: invert(0);
}

.banner {
    margin: 0;
    padding: 5vh;
    color: white;
    font-size: 5rem;
    background-color: transparent;
    text-align: center;
    border-bottom: 10vh solid;
}

@media screen and (max-width:768px) {
    .banner {
        font-size: 10vw;
    }
}

@media screen and (max-width:950px) and (max-height:450px) and (orientation: landscape ) {
    .icon {
        width: 50px;
    }
}

@media screen and (max-height:950px) and (max-width:450px) and (orientation: portrait) {
    .icon {
        width: 50px;
    }
}


